@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');



* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.home {
    background-image: url('background.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: blur(1px);
}

.home1 {
    position: absolute;
    bottom: 6%;
}

.navbar {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.logo {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    /* padding-top: 20px; */
}

.menu {
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 100px;

}

.menu>ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
}

.menu>ul>a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu>ul>a:hover {
    color: #626060;
    
}

.menu>ul>.ico {
    font-size: 12px;
    color: #000;
    padding: 8px 10px;
    border-radius: 50px;
    background-color: rgb(255, 251, 251);
}
.menu>ul>.ico:hover{
    background-color: #494848;
    color: white;
}

.content {
    width: 60%;
    height: 250px;
    /* line-height: 25px; */
    /* background-color: aqua; */
    margin: 90px 150px;
    color: white;
}

.content>h1 {
    font-weight: 900;
    font-family: 'Reggae One', cursive;
}

.content>h5 {
    color: azure;
}

.media-icons {
    width: 200px;
    height: 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -10px;

}

.media-icons>a {
    color: white;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 200%;
    background-color: rgba(255, 251, 251, 0.262);
    margin-left: 10PX;
}

.media-icons>a:hover {
    padding: 10px 14px;
    border-radius: 200%;
    background-color: rgba(20, 20, 20, 0.3);

}

.btns {
    width: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.button {
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600 ;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: white;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #000000;
}

.button:hover:before {
    top: -35%;
    background-color: gray;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #717171;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.down {
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: rgba(63, 62, 62, 0.262);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;


}

.down>a {
    color: white;
    animation: scrollDown1 1.5s ease infinite;
}

@keyframes scrollDown1 {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }

    50% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.services1 {
    width: 100%;
    height: 450px;
    background-color: rgba(117, 107, 107, 0.1);
    text-align: center;
    padding-top: 20px;
}

.services1>h1 {
    font-family: 'Rowdies', cursive;
    font-size: 30px;
}


.services {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
   

}

.box1>h5 {
    position: relative;
    top: 180px;
    width: 300px;
    margin-left: -73px;
    font-family: 'Carlito', sans-serif;
    font-weight: 700;

}

.box2>h5 {
    position: relative;
    width: 300px;
    margin-left: -65px;
    top: 180px;
    font-family: 'Carlito', sans-serif;
    font-weight: 700;
}

.box3>h5 {
    position: relative;
    width: 300px;
    margin-left: -65px;
    top: 180px;
    font-family: 'Carlito', sans-serif;
    font-weight: 700;
}

.box1 {
    width: 150px;
    height: 150px;
    background-image: url('ser3.png');
    background-size: cover;
    background-position: center;

}

.box2 {
    width: 150px;
    height: 150px;
    background-image: url('busi1.png');
    background-size: cover;
    background-position: center;
}

.box3 {
    width: 150px;
    height: 150px;
    background-image: url('edu2.png');
    background-size: cover;
    background-position: center;
}

.services1>button {
    margin-top: 110px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.services1>button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #09ff00;
    z-index: -1;
}

.services1>button:hover,
button:focus {
    color: white;
}

.services1>button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.services1>button:active {
    transform: scale(0.9);
}

.skills {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content1 {
    width: 600px;
    height: 400px;
    /* background-color: #717171; */
    padding: 50px 100px;

}

.content1>h5 {
    font-family: 'Rowdies', cursive;
}

.content1>h1 {
    font-family: 'Skranji', cursive;
    letter-spacing: 3px;
}

.content1>p {
    font-family: 'Mate SC', serif;
    font-weight: 700;
}


.progress1 {

    width: 600px;
    height: 400px;
    /* background-color: #d74949; */
    padding: 30px 80px;

}

.progress1>.pros {
    width: 400px;
    height: 400px;

}

.pro {
    width: 500px;
    height: 25px;
    display: flex;
}

.pro>h5 {
    font-weight: 600;
}

.range {
    position: relative;
    background-color: #4d4d4d;
    width: 300px;
    height: 23px;
    left: 40px;
    transform: skew(30deg);
    font-family: 'Orbitron', monospace;

    &:before {
        --width: calc(var(--p) * 1%);

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #fff200;
        z-index: 0;
        animation: load .5s forwards linear, glitch 2s infinite linear;
    }

    &:after {
        counter-reset: progress var(--p);
        content: counter(progress) '%';
        color: #000;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%) skewX(-30deg);
        z-index: 1;
    }

    &__label {
        transform: skew(-30deg) translateY(-100%);
        line-height: 1.5;
    }
}

@keyframes load {
    to {
        width: var(--width);
    }
}

@keyframes glitch {

    0%,
    5% {
        transform: translate(0, 0);
    }

    1% {
        transform: translate(-5%, -10%);
    }

    2% {
        transform: translate(10%, 30%);
    }

    3% {
        transform: translate(-43%, 10%);
    }

    4% {
        transform: translate(2%, -23%);
    }
}

.about-me {
    width: 100%;
    height: 500px;
    background-color: #3c3a3a;
    color: white;
}

.about-me>h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Rowdies', cursive;
}

.about {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.personal {
    width: 30%;
    height: 350px;
    /* background-color: blue; */
    padding: 20px;
    padding-top: 20px;
}

.personal>h3 {
    font-family: 'Julee', cursive;
    font-weight: 700;
}

.personal>.lab {
    color: #09ff00;
    font-weight: 600;
    margin-top: 20px;
}

span {
    color: white;
}

.intertest1 {
    width: 45%;
    height: 350px;
    /* background-color: rgb(255, 0, 102); */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.intertest1>h3 {
    font-family: 'Julee', cursive;
    font-weight: 700;
}

.inrertest {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */


}

.a {

    width: 95px;
    height: 80px;
    background-color: #4f4f4f;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    /* padding-top: 10px; */

}
.a>h6{
    font-size: 13px;
}

.a:hover {
    background-color: #929191b6;
}

.a>i {
    display: block;
    text-align: center;
    padding: 15px;
}

.foot {
    width: 100%;
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-logo {
    font-size: 20px;
    color: yellow;
    margin-right: 70px;
    padding-right: 30px;
}

#spam {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

#log {
    margin-left: 200px;
    line-height: 30px;
}

#log li a {
    color: black;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}

#log li {
    list-style-type: none;
}

#log li a:hover {
    color: white;
}

.image-icon {
    margin-left: 50px;
    padding-left: 30px;
    line-height: 35px;

}

#im {
    display: flex;
}

#im a {
    text-decoration: none;
}

#im a:hover {
    color: white;
}

#im li {
    list-style-type: none;
}


#value {
    margin-left: 20px;
    line-height: 31px;
}

#value a {
    color: black;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium';
}


